.ql-toolbar{
    border:none !important;
    border-bottom:1px solid lightgray !important;
}

.ql-editor,
.ql-container,
.ql-clipboard{
    border:none !important
}
.post-modal .modal-header{
    border:none !important
}

.img-preview{
    position: relative;
    max-height:200px;
    max-width: 200px;
    border:1px solid lightgray;
}
.img-remove-btn,.img-remove-btn:hover{
    position: absolute;
    top:0;
    right:0;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.7);
    transform: translate(50%,-50%);
}

